@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
/* Custom fonts */
@theme {
  --color-white: #ffffff;
  --color-black: #000;
  --color-primary: #f3ba18;
  --color-primary2: #a38b41;
  --color-dark: #010101;
  --color-gray: #0b0b0b;
  --color-zinc: #4b4b4b;
  --color-accent: #ff4500;
  --color-lightYellow: #d8c145;
  --color-darkOrange: #a68736;
  --color-grayLight: #8d8d8d;
  --color-grayLabel: #686868;
  --color-grayDescription: #303030;
  --color-red: #ff0000;
  --color-grayLabel2: #696969;
  --text-h1: 70px;
  --text-h2: 65px;
  --text-h3: 60px;
  --text-h4: 50px;
  --text-h5: 40px;
  --text-h6: 35px;
  --text-p1: 30px;
  --text-p2: 25px;
  --text-p3: 20px;
  --text-p4: 15px;
  --text-p5: 12px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
/* Content Width Setting */
.container {
  max-width: 1440px; /* Equivalent to max-w-7xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 = 16px */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* sm:px-6 = 24px */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem; /* lg:px-8 = 32px */
    padding-right: 2rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1582px; /* Custom for 2xl screens */
  }
}
/* Hero Section */
.hero-bg {
  background-image: url("/src/assets/images/hero-bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-app-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/images/mobile mockup image.jpg");
  background-size: cover;
}
.play-video-button {
  background-color: #e7c64c;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-video-button:hover {
  background-color: #f0d35a;
}
/* Fame Coin Section */
.famecoin-bg {
  background-image: url("/src/assets/images/famecoin-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* Network Statistics Section */
.network-bg {
  background-image: url("/src/assets/images/network-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.network-statistics-bg {
  background-image: url("/src/assets/images/network-statistics.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* Process Section */
.process-bg {
  background-image: url("/src/assets/images/process-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* login page */

@layer components {
  .shimmer-loader {
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
  }

  .shimmer-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(243, 186, 24, 0) 0%,
      rgba(243, 186, 24, 0.3) 50%,
      rgba(243, 186, 24, 0) 100%
    );
    animation: shimmer 1.6s infinite;
  }

  @keyframes shimmer {
    100% {
      left: 100%;
    }
  }
}
/* css for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}
/* Signup page checkbox */
.custom-checkbox {
  @apply w-4 h-4 border border-[#3b3b3b] rounded-sm bg-transparent cursor-pointer relative appearance-none transition-all duration-200;
}

.custom-checkbox:checked {
  @apply bg-[#F3BA18];
}

.custom-checkbox:checked::after {
  content: "✓";
  color: black;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  left: 2px;
}
option {
  border: none !important;
}
select {
  border: none !important;
}
/* Custom Banner */
@media (max-width: 1536px) {
  .custom-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .custom-banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
@layer utilities {
  .shadow-inset-light {
    box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.08);
  }

  .shadow-soft-dark {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.92); /* EB in hex is 235 in decimal, so 235/255 ≈ 0.92 */
  }
}
/* tailwind css gredients */
.bg-gradient-custom-vertical {
  background-image: linear-gradient(
    to bottom,
    #1b1b1b,
    #1a1a1a,
    #191919,
    #181818,
    #171717,
    #161616,
    #151515,
    #141414,
    #0b0b0b
  );
}

.bg-gradient-custom-horizontal {
  background-image: linear-gradient(
    to right,
    #1d1d1d,
    #1c1c1c,
    #1b1b1b,
    #1a1a1a,
    #111
  );
}
/* tailwind css gredients2 */
.bg-gradient-custom-vertical2 {
  background-image: linear-gradient(to bottom, #1a1a1a, #0b0b0b);
}

.bg-gradient-custom-horizontal2 {
  background-image: linear-gradient(to right, #111, #1a1a1a, #111);
}

/* Responsiveness */
/* -----------------------------------------
   Responsive Font Utilities
   Target screens: 
   sm: 640px, md: 768px, lg: 1024px, xl: 1280px, 2xl: 1536px
------------------------------------------ */

/* 1. Navlinks */
.font-navlink {
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 640px) {
  .font-navlink {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .font-navlink {
    font-size: 16px;
  }
}
@media (min-width: 1536px) {
  .font-navlink {
    font-size: 20px;
  }
}

/* 2. Heading - Large */
.font-heading-lg {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) {
  .font-heading-lg {
    font-size: 32px;
  }
}
@media (min-width: 1536px) {
  .font-heading-lg {
    font-size: 40px;
  }
}

/* 3. Button - Large */
.font-button-xl {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .font-button-xl {
    font-size: 28px;
  }
}
@media (min-width: 1536px) {
  .font-button-xl {
    font-size: 35px;
  }
}

/* 4. Button - Medium */
.font-button-md {
  font-weight: 500;
  font-size: 16px;
}
@media (min-width: 1536px) {
  .font-button-md {
    font-size: 20px;
  }
}

/* 5. Heading - XXL */
.font-heading-xxl {
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 1280px) {
  .font-heading-xxl {
    font-size: 52px;
  }
}
@media (min-width: 1536px) {
  .font-heading-xxl {
    font-size: 65px;
  }
}

/* 6. Heading - Hero */
.font-heading-hero {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1280px) {
  .font-heading-hero {
    font-size: 50px;
  }
}
@media (min-width: 1536px) {
  .font-heading-hero {
    font-size: 70px;
  }
}

/* 7. Heading - Section */
.font-heading-section {
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 768px) {
  .font-heading-section {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-heading-section {
    font-size: 30px;
  }
}

/* 8. Paragraph - Large */
.font-paragraph-lg {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .font-paragraph-lg {
    font-size: 24px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-lg {
    font-size: 30px;
  }
}

/* 9. Button - Large Alt */
.font-button-lg-alt {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1280px) {
  .font-button-lg-alt {
    font-size: 22px;
  }
}
@media (min-width: 1536px) {
  .font-button-lg-alt {
    font-size: 25px;
  }
}

/* 10. Paragraph - Medium */
.font-paragraph-md {
  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 1280px) {
  .font-paragraph-md {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-md {
    font-size: 30px;
  }
}

/* 11. Heading - XL */
.font-heading-xl {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1280px) {
  .font-heading-xl {
    font-size: 40px;
  }
}
@media (min-width: 1536px) {
  .font-heading-xl {
    font-size: 50px;
  }
}

/* 12. Paragraph - XLarge */
.font-paragraph-xl {
  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 1280px) {
  .font-paragraph-xl {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-xl {
    font-size: 30px;
  }
}

/* 13. Button - XL Alt */
.font-button-xl-alt {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1280px) {
  .font-button-xl-alt {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-button-xl-alt {
    font-size: 30px;
  }
}

/* 14. Heading - Display */
.font-heading-display {
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 1280px) {
  .font-heading-display {
    font-size: 48px;
  }
}
@media (min-width: 1536px) {
  .font-heading-display {
    font-size: 60px;
  }
}

/* 15. Button - Bold */
.font-button-bold {
  font-weight: 700;
  font-size: 22px;
}
@media (min-width: 1536px) {
  .font-button-bold {
    font-size: 30px;
  }
}

/* 16. Footer Navlinks */
.font-footer-link {
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 1536px) {
  .font-footer-link {
    font-size: 20px;
  }
}
/* 17. Button - Light (15px, weight 400) */
.font-button-light {
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 768px) {
  .font-button-light {
    font-size: 13px;
  }
}
@media (min-width: 1280px) {
  .font-button-light {
    font-size: 14px;
  }
}
@media (min-width: 1536px) {
  .font-button-light {
    font-size: 15px;
  }
}
/* heading */
.heading-700-40 {
  font-weight: 700;
  font-size: clamp(24px, 5vw, 40px);
}
.heading-700-50 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 50px);
}
.heading-700-48 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 48px);
}
.heading-700-36 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 36px);
}
.heading-700-28 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 28px);
}
.heading-700-24 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 24px);
}
.heading-700-18 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 18px);
}
.heading-500-35 {
  font-weight: 500;
  font-size: clamp(18px, 5vw, 35px);
}
.heading-500-20 {
  font-weight: 500;
  font-size: clamp(12px, 5vw, 20px);
}
.heading-400-15 {
  font-weight: 400;
  font-size: clamp(10px, 5vw, 15px);
}
.heading-500-23 {
  font-weight: 500;
  font-size: clamp(12px, 5vw, 23px);
}
.heading-400-10 {
  font-weight: 400;
  font-size: clamp(8px, 5vw, 10px);
}
.heading-500-30 {
  font-weight: 500;
  font-size: clamp(16px, 5vw, 30px);
}
.heading-500-50 {
  font-weight: 500;
  font-size: clamp(28px, 5vw, 50px);
}
.heading-500-40 {
  font-weight: 500;
  font-size: clamp(24px, 5vw, 40px);
}
.heading-500-15 {
  font-weight: 500;
  font-size: clamp(10px, 5vw, 15px);
}
.heading-400-20 {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 20px);
}
.heading-400-25 {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 25px);
}
.section__padding {
  padding-top: clamp(20px, 5vw, 80px);
  padding-bottom: clamp(20px, 5vw, 80px);
}
.footer_nav_title {
  font-weight: 600;
  font-size: clamp(12px, 5vw, 24px);
}
.footer_nav_link {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 18px);
  color: #bfbfbf;
}
.footer_paragraph {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 14px);
}
.footer_copyright {
  font-weight: 500;
  font-size: clamp(12px, 5vw, 14px);
  color: #bfbfbf;
}
/* For All headings */
.custom-heading-one {
  font-size: 1.75rem; /* Default for small screens (28px) */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-heading-two {
  font-size: 1.5rem; /* Default for small screens (24px) */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-heading-three {
  font-size: 1.25rem; /* Default for small screens (20px) */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-heading-four {
  font-size: 1.125rem; /* Default for small screens (18px) */
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-heading-five {
  font-size: 1rem; /* Default for small screens (16px) */
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-heading-six {
  font-size: 0.875rem; /* Default for small screens (14px) */
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.custom-heading-seven {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .custom-heading-one {
    font-size: 2.25rem; /* Medium screens (36px) */
  }
  .custom-heading-two {
    font-size: 2rem; /* Medium screens (32px) */
  }
  .custom-heading-three {
    font-size: 1.75rem; /* Medium screens (28px) */
  }
  .custom-heading-four {
    font-size: 1.3rem; /* Medium screens  */
  }
  .custom-heading-five {
    font-size: 1.15rem; /* Medium screens  */
  }
  .custom-heading-six {
    font-size: 1rem; /* Medium screens  */
  }
  .custom-heading-seven {
    font-size: 1.3rem; /* Medium screens  */
  }
}

@media (min-width: 1024px) {
  .custom-heading-one {
    font-size: 3rem; /* Large screens (48px) */
  }
  .custom-heading-two {
    font-size: 2.5rem; /* Large screens (40px) */
  }
  .custom-heading-three {
    font-size: 2rem; /* Large screens (32px) */
  }
  .custom-heading-four {
    font-size: 1.5rem; /* Large screens  */
  }
  .custom-heading-five {
    font-size: 1.25rem; /* Large screens  */
  }
  .custom-heading-six {
    font-size: 1.125rem; /* Large screens  */
  }
  .custom-heading-seven {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .custom-heading-one {
    font-size: 3.25rem;
  }
  .custom-heading-two {
    font-size: 2.75rem;
  }
  .custom-heading-three {
    font-size: 2.25rem;
  }
  .custom-heading-four {
    font-size: 1.6rem;
  }
  .custom-heading-five {
    font-size: 1.3rem;
  }
  .custom-heading-six {
    font-size: 1.15rem;
  }
  .custom-heading-seven {
    font-size: 1.6rem;
  }
}

@media (min-width: 1536px) {
  .custom-heading-one {
    font-size: 3.5rem; /* Extra-Large screens (56px) */
  }
  .custom-heading-two {
    font-size: 3rem; /* Extra-Large screens (56px) */
  }
  .custom-heading-three {
    font-size: 2.5rem; /* Extra-Large screens (56px) */
  }
  .custom-heading-four {
    font-size: 1.75rem;
  }
  .custom-heading-five {
    font-size: 1.5rem;
  }
  .custom-heading-six {
    font-size: 1.25rem;
  }
  .custom-heading-seven {
    font-size: 1.75rem;
  }
}
/* Custom Pargraph */
p {
  font-size: 0.75rem; /* Default for small screens (12px) */
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    font-size: 0.8rem; /* Medium screens (16px) */
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 0.9rem; /* Large screens (16px) */
  }
}

@media (min-width: 1280px) {
  p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1536px) {
  p {
    font-size: 1.125rem; /* Extra-large screens (18px) */
  }
}
/* Custom Buttons */
.custom-button-one {
  display: inline-block;
  background-color: transparent;
  color: #a38b41;
  border: 2px solid #a38b41;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 0 auto; /* This will center an inline-block element if its parent is a block-level element and has text-align: center */
  transition: all 0.3s ease;
}

.custom-button-one:hover {
  background-color: #a38b41;
  color: #000;
}
/* .custom-button-two {
  background-color: #ab8738;
  color: white;
  border: none;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}
.custom-button-two:hover {
  background-color: #8c6b2c;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
/* Golden Gradient Button Styles */
.custom-button-two {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #000000;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  background: linear-gradient(to bottom, #e2cb68 0%, #b8962d 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.4),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* Border effect */
.custom-button-two::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

/* Hover state */
.custom-button-two:hover {
  background: linear-gradient(to bottom, #f5dc6c 0%, #9e8649 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
    inset 0 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

/* Active state */
.custom-button-two:active {
  background: linear-gradient(to top, #cdae38 0%, #9e7e24 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

/* Shine effect on hover */
.custom-button-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s ease;
}

.custom-button-two:hover::after {
  left: 100%;
}

/* For darker backgrounds, enhance the button edges */
.custom-button-two.dark-bg {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(59, 46, 16, 0.2);
}
/* custom outline button */
.custom-button-outline {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #e2cb68;
  border: 2px solid #e2cb68;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 9999px; /* Fully rounded */
  background-clip: padding-box;
}

/* Hover state */
.custom-button-outline:hover {
  background: linear-gradient(to bottom, #e2cb68, #b8962d);
  color: #000;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

/* Active state */
.custom-button-outline:active {
  background: linear-gradient(to top, #cdae38 0%, #9e7e24 100%);
  color: #000;
  transform: translateY(1px);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* Shine effect */
.custom-button-outline::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 50%,
    transparent 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s ease;
  border-radius: inherit;
}

.custom-button-outline:hover::after {
  left: 100%;
}
/* Gredient styles */
.gredient-text {
  background: linear-gradient(to bottom, #e2cb68 0%, #b8962d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text:hover {
  background: linear-gradient(to bottom, #f5e5a1 0%, #d8b44a 100%);
  text-shadow: 0 0 8px rgba(232, 199, 74, 0.4);
}
.gradient-bg {
  background: linear-gradient(to bottom, #e2cb68 0%, #b8962d 100%);
}

.gredient-text-two:hover {
  background: linear-gradient(to bottom, #f5e5a1 0%, #d8b44a 100%);
  text-shadow: 0 0 8px rgba(232, 199, 74, 0.4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.gredient-icon {
  color: #e2cb68;
}
.gredient-border-bottom {
  border-bottom: 2px solid #e2cb68;
}
.gredient-border {
  border: 1px solid #e2cb68;
}
.gredient-icon-inactive {
  color: #c6be9d;
}
/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(243, 186, 24, 0.5);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
  scrollbar-width: thin;
}
