@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
/* Custom fonts */
@theme {
  --color-white: #ffffff;
  --color-black: #000;
  --color-primary: #f3ba18;
  --color-dark: #010101;
  --color-gray: #0b0b0b;
  --color-zinc: #4b4b4b;
  --color-accent: #ff4500;
  --color-lightYellow: #d8c145;
  --color-darkOrange: #a68736;
  --color-grayLight: #8d8d8d;
  --color-grayLabel: #686868;
  --color-grayDescription: #303030;
  --color-red: #ff0000;
  --color-grayLabel2: #696969;
  --text-h1: 70px;
  --text-h2: 65px;
  --text-h3: 60px;
  --text-h4: 50px;
  --text-h5: 40px;
  --text-h6: 35px;
  --text-p1: 30px;
  --text-p2: 25px;
  --text-p3: 20px;
  --text-p4: 15px;
  --text-p5: 12px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
/* Content Width Setting */
.container {
  max-width: 1280px; /* Equivalent to max-w-7xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 = 16px */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* sm:px-6 = 24px */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem; /* lg:px-8 = 32px */
    padding-right: 2rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1582px; /* Custom for 2xl screens */
  }
}
/* Hero Section */
.hero-bg {
  background-image: url("/src/assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.play-video-button {
  background-color: #e7c64c;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-video-button:hover {
  background-color: #f0d35a;
}
/* Fame Coin Section */
.famecoin-bg {
  background-image: url("/src/assets/images/famecoin-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* Network Statistics Section */
.network-bg {
  background-image: url("/src/assets/images/network-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.network-statistics-bg {
  background-image: url("/src/assets/images/network-statistics.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* Process Section */
.process-bg {
  background-image: url("/src/assets/images/process-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* login page */

@layer components {
  .shimmer-loader {
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
  }

  .shimmer-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(243, 186, 24, 0) 0%,
      rgba(243, 186, 24, 0.3) 50%,
      rgba(243, 186, 24, 0) 100%
    );
    animation: shimmer 1.6s infinite;
  }

  @keyframes shimmer {
    100% {
      left: 100%;
    }
  }
}
/* css for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}
/* Signup page checkbox */
.custom-checkbox {
  @apply w-4 h-4 border border-[#3b3b3b] rounded-sm bg-transparent cursor-pointer relative appearance-none transition-all duration-200;
}

.custom-checkbox:checked {
  @apply bg-[#F3BA18];
}

.custom-checkbox:checked::after {
  content: "✓";
  color: black;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  left: 2px;
}
option {
  border: none !important;
}
select {
  border: none !important;
}
/* Custom Banner */
@media (max-width: 1536px) {
  .custom-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .custom-banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
@layer utilities {
  .shadow-inset-light {
    box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.08);
  }

  .shadow-soft-dark {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.92); /* EB in hex is 235 in decimal, so 235/255 ≈ 0.92 */
  }
}
/* tailwind css gredients */
.bg-gradient-custom-vertical {
  background-image: linear-gradient(
    to bottom,
    #1b1b1b,
    #1a1a1a,
    #191919,
    #181818,
    #171717,
    #161616,
    #151515,
    #141414,
    #0b0b0b
  );
}

.bg-gradient-custom-horizontal {
  background-image: linear-gradient(
    to right,
    #1d1d1d,
    #1c1c1c,
    #1b1b1b,
    #1a1a1a,
    #111
  );
}
/* tailwind css gredients2 */
.bg-gradient-custom-vertical2 {
  background-image: linear-gradient(to bottom, #1a1a1a, #0b0b0b);
}

.bg-gradient-custom-horizontal2 {
  background-image: linear-gradient(to right, #111, #1a1a1a, #111);
}

/* Responsiveness */
/* -----------------------------------------
   Responsive Font Utilities
   Target screens: 
   sm: 640px, md: 768px, lg: 1024px, xl: 1280px, 2xl: 1536px
------------------------------------------ */

/* 1. Navlinks */
.font-navlink {
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 640px) {
  .font-navlink {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .font-navlink {
    font-size: 16px;
  }
}
@media (min-width: 1536px) {
  .font-navlink {
    font-size: 20px;
  }
}

/* 2. Heading - Large */
.font-heading-lg {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) {
  .font-heading-lg {
    font-size: 32px;
  }
}
@media (min-width: 1536px) {
  .font-heading-lg {
    font-size: 40px;
  }
}

/* 3. Button - Large */
.font-button-xl {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .font-button-xl {
    font-size: 28px;
  }
}
@media (min-width: 1536px) {
  .font-button-xl {
    font-size: 35px;
  }
}

/* 4. Button - Medium */
.font-button-md {
  font-weight: 500;
  font-size: 16px;
}
@media (min-width: 1536px) {
  .font-button-md {
    font-size: 20px;
  }
}

/* 5. Heading - XXL */
.font-heading-xxl {
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 1280px) {
  .font-heading-xxl {
    font-size: 52px;
  }
}
@media (min-width: 1536px) {
  .font-heading-xxl {
    font-size: 65px;
  }
}

/* 6. Heading - Hero */
.font-heading-hero {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1280px) {
  .font-heading-hero {
    font-size: 50px;
  }
}
@media (min-width: 1536px) {
  .font-heading-hero {
    font-size: 70px;
  }
}

/* 7. Heading - Section */
.font-heading-section {
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 768px) {
  .font-heading-section {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-heading-section {
    font-size: 30px;
  }
}

/* 8. Paragraph - Large */
.font-paragraph-lg {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .font-paragraph-lg {
    font-size: 24px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-lg {
    font-size: 30px;
  }
}

/* 9. Button - Large Alt */
.font-button-lg-alt {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1280px) {
  .font-button-lg-alt {
    font-size: 22px;
  }
}
@media (min-width: 1536px) {
  .font-button-lg-alt {
    font-size: 25px;
  }
}

/* 10. Paragraph - Medium */
.font-paragraph-md {
  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 1280px) {
  .font-paragraph-md {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-md {
    font-size: 30px;
  }
}

/* 11. Heading - XL */
.font-heading-xl {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1280px) {
  .font-heading-xl {
    font-size: 40px;
  }
}
@media (min-width: 1536px) {
  .font-heading-xl {
    font-size: 50px;
  }
}

/* 12. Paragraph - XLarge */
.font-paragraph-xl {
  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 1280px) {
  .font-paragraph-xl {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-paragraph-xl {
    font-size: 30px;
  }
}

/* 13. Button - XL Alt */
.font-button-xl-alt {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 1280px) {
  .font-button-xl-alt {
    font-size: 26px;
  }
}
@media (min-width: 1536px) {
  .font-button-xl-alt {
    font-size: 30px;
  }
}

/* 14. Heading - Display */
.font-heading-display {
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 1280px) {
  .font-heading-display {
    font-size: 48px;
  }
}
@media (min-width: 1536px) {
  .font-heading-display {
    font-size: 60px;
  }
}

/* 15. Button - Bold */
.font-button-bold {
  font-weight: 700;
  font-size: 22px;
}
@media (min-width: 1536px) {
  .font-button-bold {
    font-size: 30px;
  }
}

/* 16. Footer Navlinks */
.font-footer-link {
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 1536px) {
  .font-footer-link {
    font-size: 20px;
  }
}
/* 17. Button - Light (15px, weight 400) */
.font-button-light {
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 768px) {
  .font-button-light {
    font-size: 13px;
  }
}
@media (min-width: 1280px) {
  .font-button-light {
    font-size: 14px;
  }
}
@media (min-width: 1536px) {
  .font-button-light {
    font-size: 15px;
  }
}
